extend componentes/plantilla.pug
block contenidos
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{titulos[0]} 
				p
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, repudiandae. Consectetur 
					| velit iure quidem natus, ex ipsum quisquam ad 
					| velit iure quidem natus, ex ipsum quisquam ad 
					span Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, repudiandae. Consectetur
				a.boton Leer más
		main.contenido
			+caja('imagen.png', titulos[1], 'lorem ipsum')
			+caja('imagen.png', titulos[2], 'lorem ipsum')
			+caja('imagen.png', titulos[3], 'lorem ipsum')
		
      
